/* AppComponent's private CSS styles */
h1 {
  margin-bottom: 0;
}

mat-nav-list {
  display: block;
  align-items: flex-start;
  overflow-y: hidden;
  text-align: center;
  justify-content: center;
}

mat-list-item {
  align-items: center;
  justify-content: center;
  background-color: transparent;
  font-weight: bold;
  margin-bottom: 0.1rem;
}

.active-list-item {
  background-color: #EEEEEE;
}

mat-toolbar {
  display: flex;
  background-color: white;
}

mat-toolbar span {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 150%;
}

.footer {
  position: fixed;
  bottom: 0%;
  width: 100%;
  height: 15%;
}

.sidenav {
  display: block;
  align-items: center;
  padding: 1rem;
  overflow-y: hidden;
}

mat-divider {
  margin-inline: 1rem;
  margin-bottom: 0.5rem;
}

.sidenav-container {
  background-color: white;
}
