<div *ngIf="messageService.messages.length" class="footer">
  <mat-divider></mat-divider>
  <mat-sidenav-container>
    <mat-sidenav mode="side" opened class="side-nav">
      <h2>Messages</h2>
      <button type="button" class="clear" (click)="messageService.clear()">
        Clear messages
      </button>
    </mat-sidenav>
    <mat-sidenav-content class="side-nav-content">
        <div *ngFor="let message of messageService.messages.reverse()">{{ message }}</div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
